<div id='container' ng-controller='LinksController'>

  <div class='container'>
    <nav class='navigation'>
      <ul>
        <li>
          <a href="#/signin">Sign in</a>
        </li>
        <li>
          <a href="#/signup">Sign up</a>
        </li>
      </ul>
    </nav>
   </div>


  <table class='table'>
    <thead>
      <tr>
        <th>Original</th>
        <th>Shortly</th>
        <th>Visits</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="link in data.links | filter:search">
        <td> {{ link.url.slice(7) }}</td>
        <td>http://shortly/{{ link.code }}</td>
        <td> {{ link.visits }}</td>
      </tr>
    </tbody>
  </table>

    <input placeholder="filter" type='text' ng-model='search'>


  <div class='container'>
    <nav class='navigation'>
      <ul>
        <li>
          <a href="#/links">Links</a>
        </li>
        <li>
          <a href="#/shorten">Shorten</a>
        </li>
      </ul>
    </nav>
   </div>

</div>

