<div id='container' ng-controller='LinksController'>

  <ol class="breadcrumb">
      <li><a href="#/shorten">Shorten</a></li>
      <li class="active"><a href="#/links">Links</a></li>
  </ol>

  <form role="form">
    <div class="form-group">
      <input class="form-control" placeholder="Type url to filter" type='text' ng-model='search'>
    </div>
  </form>

  <div class='table-responsive'>
    <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th>Original</th>
          <th>Shortly</th>
          <th>Visits</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="link in data.links | filter:search | orderBy: '-visits' ">
          <td>  {{ link.url.slice(7) }}  </td>
          <td><a ng-href="http://localhost:8000/api/links/{{ link.code }}">http://shortly/{{ link.code }}</td>
          <td>  {{ link.visits }}  </td>
          <!-- <td> <button ng-click='removeLink()'> Delete</button> </td> -->
        </tr>
      </tbody>
    </table>
  </div>

</div>

